<div class="col-lg-12">
    <div ng-repeat="newsPost in vm.newsPosts">
        <div class="news-post"
             style="background-image: url({{newsPost.enclosure.url}})"
                ng-click="vm.toggleDescription(newsPost)">
            <h2 class="news-title">{{newsPost.title}}</h2>
            <div class="news-description" ng-show="newsPost.showDescription">
                {{newsPost.description}}
                <a href="{{newsPost.link}}" target="_blank">More...</a>
            </div>
        </div>
    </div>
</div>